.emacs.desktop*
backup*
*history*
frame-restore-parameters
undohist
.session
.places
.mc-lists.el
eshell/lastdir
cache
projectile-bookmarks.eld
\#!*
.\#*
init-local.el
*.dat
.custom.el
*yas-compiled*
